<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Login</title>
        <link rel="stylesheet" href="~/css/account-style.css"/>
    </head>
    <body>
        <div class="container">
            <div class="login-form">
                <div class="header"></div>
                <div class="login-input-container" id="login-input-container">
                    <input class="login-input" id="login-input" placeholder="Логин"/>
                </div>
                <div class="login-input-container" id="password-input-container">
                    <input class="login-input" id="password-input" placeholder="Пароль"/>
                </div>
                <div class="footer">
                    <a href="https://localhost:5001/Account/Registration" class="login-button" id="registration-button">Регистрация</a>
                    <div class="empty"></div>
                    <a href="https://localhost:5001/Home/MyFiles" class="login-button" id="login-button">Войти</a>
                </div>
            </div>
        </div>
    </body>
</html>