<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>My Groups</title>
        <link rel="stylesheet" href="~/css/groups-style.css"/>
    </head>
    <body>
        <div class="container">
            
        </div>
        <script src="~/js/sendMessage.js"></script>
        <script src="~/js/Account/myGroups.js"></script>
    </body>
</html>