<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Profile</title>
        <link rel="stylesheet" href="~/css/profile-style.css"/>
    </head>
    <body>
        <div class="container" id="container">
            <div class="change-window" id="delete-account-window">
                <div class="change-container">
                    <div class="input-container">
                        <input class="input" id="password-delete-input" placeholder="Пароль"/>
                    </div>
                    <div class="confirm" id="confirm-delete">Подтвердить</div>
                </div>
            </div>
            <div class="change-window" id="change-personality-window">
                <div class="change-container">
                    <div class="input-container">
                        <input class="input" id="surname-input" placeholder="Фамилия"/>
                    </div>
                    <div class="input-container">
                        <input class="input" id="name-input" placeholder="Имя"/>
                    </div>
                    <div class="input-container">
                         <input class="input" id="username-input" placeholder="UserName"/>
                    </div>
                    <div class="confirm" id="confirm-personality">Подтвердить</div>
                </div>
            </div>
            <div class="change-window" id="change-password-window">
                <div class="change-container">
                    <div class="input-container">
                        <input class="input" id="old-password" placeholder="Старый пароль"/>
                    </div>
                    <div class="input-container">
                        <input class="input" id="new-password" placeholder="Новый пароль"/>
                    </div>
                    <div class="confirm" id="confirm">Подтвердить</div>
                </div>
            </div>
            <div class="left-container">
                <div class="profile-photo">
                    <img class="profile-photo" id="photo" src="~/images/free-icon-user-149452.png" alt=""/>
                </div>
                <div>
                    <p class="profile-photo-text" id="change-photo">Изменить фото</p>
                </div>
            </div>
            <div class="center-container">
                <div class="personality-data" id="surname">Фамилия</div>
                <div class="personality-data" id="name">Имя</div>
                <div class="personality-data" id="username">UserName</div>
                <div class="personality-data" id="change-data">Изменить персональные данные</div>
                <hr class="line"/>
                <div class="personality-data" id="id">1</div>
            </div>
            <div class="right-container">
                <div class="button" id="my-files">Мои файлы</div>
                <div class="button" id="groups-view">Обзор групп</div>
                <div class="button" id="password-change">Сменить пароль</div>
                <div class="button" id="delete-account">Удалить аккаунт</div>
            </div>
        </div>
        <script src="~/js/sendMessage.js"></script>
        <script src="~/js/Account/updatePage.js"></script>
        <script src="~/js/Account/profile.js"></script>
    </body>
</html>