<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>Registration</title>
        <link rel="stylesheet" href="~/css/account-style.css"/>
    </head>
    <body>
        <div class="container">
            <div class="login-form">
                <div class="header"></div>
                <div class="drop-text" id="drop-text-login"></div>
                <div class="login-input-container">
                    <input class="login-input" id="login-input" placeholder="Логин"/>
                </div>
                <div class="drop-text" id="drop-text-password"></div>
                <div class="login-input-container">
                    <input class="login-input" id="password-input" placeholder="Пароль"/>
                </div>
                <div class="drop-text" id="drop-text-password-confirm"></div>
                <div class="login-input-container">
                    <input class="login-input" id="password-confirm-input" placeholder="Подтвердите пароль"/>
                </div>
                <div class="footer">
                    <div class="login-button" id="registration-button">Зарегистрироваться</div>
                </div>
            </div>    
        </div>
        <script src="~/js/sendMessage.js"></script>
        <script src="~/js/Account/registration.js"></script>
    </body>
</html>