<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>My cloud</title>
        <link rel="stylesheet" href="css/home-style.css"/>
    </head>
<body>
    <div class="container">
        <div class="head-container">
            <div class="head-left">
                <label class="search-container" for="search-input">
                    <img alt="" src="images/free-icon-search-149309.png" class="search-img"/>
                    <input type="text" id="search-input" class="search" placeholder="Поиск..."/>
                </label>
            </div>
            <div class="head-center"></div>
            <div class="head-right">
                <img alt="user" src="images/free-icon-user-149452.png" class="user-photo"/>
                <a class="authorisation">Выйти</a>
            </div>
        </div>
        <div class="main-container">
            <div class="left-slider">
                <label for="load-file" class="load-label">
                    <img src="images/free-icon-download-126488.png" alt="" class="img-in-slider"/>
                    <div class="empty"></div>
                    Загрузить файл
                </label>
                <form onsubmit="FormSubmit(this);" id="load-file-form" method="post" asp-action="Index" asp-controller="Home" enctype="multipart/form-data">
                    <input type="file" id="load-file" name="files" class="load-file-input" multiple/>
                </form>
                <div class="my-files">
                    <img alt="" src="images/free-icon-folder-149334.png" class="img-in-slider"/>
                    <div class="empty"></div>
                    <a class="left-slider-font">Мои файлы</a>
                </div>
                <div class="current-files">
                    <img alt="" src="images/free-icon-users-149448.png" class="img-in-slider"/>
                    <div class="empty"></div>
                    <a class="left-slider-font">Общие файлы</a>
                </div>
                <div class="delete-all" id="delete-all-files">
                    <img alt="" src="images/free-icon-garbage-126468.png" class="img-in-slider"/>
                    <div class="empty"></div>
                    <p class="left-slider-font">Удалить всё</p>
                </div>
                <div class="memory">Свободное место на диске:</div>
            </div>
            <div class="center">
                <div class="file-header">
                    <div class="file-header-container">
                        <h1 class="file-header-bold">Файлы</h1>
                    </div>
                    <div class="empty"></div>
                    <div class="sort-type">
                        <span class="sort-type-icon1">По названию</span>
                        <span class="sort-type-icon2">
                            <img src="images/free-icon-down-arrow-134210.png" alt="" class="next-img"/>
                        </span>
                    </div>
                    <div class="icons">
                        <div class="icon-table-container">
                            <img alt="" src="images/free-icon-menu-table346714.png" class="icon-table"/>
                        </div>
                        <div class="icon-list-container">
                            <img alt="" src="images/free-icon-menu-list346709.png" class="icon-list"/>
                        </div>
                    </div>
                </div>
                <div class="file-container" id="files"></div>
            </div>
        </div>
    </div>
    <script src="js/loadFiles.js"></script>
</body>
</html>