* {
    margin: 0;
}

body {
    background-color: #f1f1f1;
}

.container {
    margin: 0 2%;
}

.head-container {
    min-height: 50px;
    display: flex;
    margin: 20px 5px 15px 15px;
}

.head-left {
    width: 35%;
}

.search-container {
    width: 35%;
    transition: all 0.18s ease-in-out;
    display: flex;
    background-color: #ffdbb0;
    height: 54px;
    border: 3px solid #ffa34f;
    border-radius: 15px;
}

.search-container:hover {
    width: 100%;
}

.search-img {
    width: 46px;
    height: 46px;
    margin: 4px;
}

.search {
    width: 100%;
    background-color: rgba(246,255,157,0);
    border: none;
    font-family: sans-serif;
    font-size: 26px;
}

.search:focus {
    outline-width: 0;
}

.head-center {
    width: 27.5%;
}

.head-right {
    width: 37.5%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.authorisation {
    font-size: 26px;
    font-family: sans-serif;
    width: 30%;
    border: 3px solid #80a4ff;
    background-color: #dce4ff;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
    line-height: 42px;
    min-width: 90px;
    cursor: pointer;
    transition: all 0.18s ease-in-out;
}

.authorisation:hover {
    background-color: #b9caff;
}

.user-photo {
    height: 60px;
    width: 60px;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.left-slider {
    min-width: 100px;
    margin: 15px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.load-label {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #4FD666;
    display: flex;
    font-family: sans-serif;
    line-height: 28px;
    transition: all 0.18s ease-in-out;
    cursor: pointer;
    background: linear-gradient(to top right, #3EC97A, #69EA49 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0)) top right/500% 500%;
}

.load-label:hover {
    color: white;
    background-position: bottom left;
}

.load-file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.my-files {
    border-radius: 10px;
    transition: all 0.18s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    display: flex;
}

.my-files:hover {
    background-color: #e7e7e7;
}

.current-files {
    border-radius: 10px;
    transition: all 0.18s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    display: flex;
}

.current-files:hover {
    background-color: #e7e7e7;
}

.delete-all {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-family: sans-serif;
    display: flex;
    transition: all 0.18s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #ff1722;
    background: linear-gradient(to top right, #ff5700, #e01010 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0)) top right/500% 500%;
}

.delete-all:hover {
    color: white;
    background-position: bottom left;
}

.left-slider-font {
    line-height: 28px;
}

.img-in-slider {
    height: 28px;
    width: 28px;
}

.memory {
    margin-top: 5px;
    font-family: sans-serif;
    padding: 10px;
    height: 200px;
    background-color: #3cd951;
    color: #ffffff;
    border-radius: 15px;
}

.center {
    box-shadow: 3px 3px 15px 6px #c4c4c4;
    margin: 15px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
}

.file-header {
    display: flex;
    padding: 10px;
}

.file-header-bold {
    line-height: 60px;
    font-family: sans-serif;
}

.file-header-container {
    width: 30%;
}

.empty {
    width: 10%;
}

.sort-type {
    width: 25%;
    display: flex;
    border-radius: 10px;
    border: none;
    transition: all 0.18s ease-in-out;
    cursor: pointer;
    background-color: rgba(255,23,34,0);
}

.sort-type:hover {
    background-color: #e7e7e7; 
}

.sort-type-icon1 {
    text-align: center;
    line-height: 60px;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

.sort-type-icon2 {
    height: 60px;
    width: 60px;
    margin: 0 auto;
}

.next-img {
    padding: 10px;
    width: 40px;
    height: 40px;
}

.icons {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.icon-table-container {
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.18s ease-in-out;
}

.icon-table-container:hover {
    background-color: #e7e7e7;
}

.icon-table {
    padding: 10px;
    width: 40px;
    height: 40px;
}

.icon-list-container {
    border-radius: 5px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: all 0.18s ease-in-out;
}

.icon-list-container:hover {
    background-color: #e7e7e7;
}

.icon-list {
    padding: 10px;
    width: 40px;
    height: 40px;
}

.file-container {
    display: flex;
    flex-wrap: wrap;
}

.file {
    transition: background-color 0.18s ease-in-out;
    margin: 10px 5px;
    padding: 10px 5px 20px 5px;
    width: 80px;
    height: 110px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.file:hover {
    background-color: #eaeaea;
}

.file-img {
    width: 80px;
    height: 80px;
}

.file-name {
    font-family: sans-serif;
    height: 20px;
    text-align: center;
}

.dropdown-content {
    opacity: 0;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
    transition-delay: 0.7s;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    transition: all 0.18s ease-in-out;
    color: black;
    padding: 12px 16px;
    font-family: sans-serif;
    text-align: center;
    display: block;
}

.dropdown-content p:hover {
    background-color: #ddd;
}

.file:hover .dropdown-content {
    opacity: 1;
}