* {
    margin: 0;
}

body {
    background-color: #dedede;
}

.container {
    border-radius: 15px;
    margin: 8% 8% 0;
    min-height: 400px;
    background-color: #ffffff;
    box-shadow: 3px 3px 15px 6px #a0a0a0;
    display: flex;
}

.container.highlight {
    background-color: rgba(113,113,113,0.49);
}

.change-password-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    z-index: -10;
    transition: all 0.3s ease-in-out;
}

.container.highlight .change-password-window {
    opacity: 1;
    z-index: 5;
}

.change-password-container {
    border-radius: 15px;
    margin: 25% 25%;
}

.container.highlight .change-password-container {
    background-color: #f1f1f1;
}

.input-container {
    margin: 20px 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #b8b7ff;
    transition: all 0.18s ease-in-out;
}

.input-container:hover {
    border: 2px solid #7f7dff;
    background-color: #c8c8c8;
}

.input {
    width: 100%;
    background-color: rgba(246,255,157,0);
    border: none;
    font-family: sans-serif;
    font-size: 26px;
}

.input:focus {
    outline-width: 0;
}

.confirm {
    margin: 20px 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #7494ff;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    line-height: 32px;
    color: #6e6e6e;
    transition: all 0.18s ease-in-out;
}

.confirm:hover {
    background-color: #324fa2;
    color: #ffffff;
}

.left-container {
    width: 20%;
}

.profile-photo {
    width: 160px;
    height: 160px;
    margin: 20px auto;
}

.profile-photo-text {
    margin: 30px auto 0;
    text-align: center;
    color: #3d37ff;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.profile-photo-text:hover {
    color: #ff241a;
}

.center-container {
    padding-left: 5px;
    padding-top: 40px;
    width: 55%;
}

.personality-data {
    font-family: sans-serif;
    color: black;
}

#surname, #name {
    margin-top: 3px;
    font-size: 32px;
}

#username {
    margin-top: 22px;
    font-size: 24px;
}

#change-data {
    margin-top: 22px;
    color: #3d37ff;
    font-size: 22px;
    cursor: pointer;
}

#change-data:hover {
    color: #ff241a;
}

.line {
    margin-top: 22px;
    border-color: #e2e2e2;
    opacity: 0.5;
}

#id {
    margin-top: 22px;
    font-size: 22px;
}

.right-container {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.button {
    font-size: 20px;
    min-height: 40px;
    margin: 20px 20px 0;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    line-height: 40px;
    transition: all 0.18s ease-in-out;
    cursor: pointer;
}

#groups-view, #password-change, #my-files {
    background: linear-gradient(to top right, #3EC97A, #69EA49 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0)) top right/500% 500%;
    border: 2px solid #4FD666;
}

#groups-view:hover, #password-change:hover, #my-files:hover {
    color: white;
    background-position: bottom left;
}

#delete-account {
    border: 2px solid #ff1722;
    background: linear-gradient(to top right, #ff5700, #e01010 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0)) top right/500% 500%;
}

#delete-account:hover {
    color: white;
    background-position: bottom left;
}